.DS_Store
.idea
App/Runtime
App/templates_c
ThinkPHP/Extend/Vendor/wxshare/access_token.json
ThinkPHP/Extend/Vendor/wxshare/jsapi_ticket.json
upload
node_modules
logs
*Log.text
.\\logs\\diy\\a.txt
.\\logs\\diy\\saveprojecta.txt
doge/diy/dist
Public/diy/dist/**/*
ServerConf.inc
.sass-cache
*.pyc
~$*.xlsx