<!--菜单-->
<div class="app_caidan">
    <span class="caidan_all"><a href="__DOC__/index.php/iwx-jewelrylist.html">全部</a></span>
    <div class="fl caidanList swiper-container">
        <ul class="swiper-wrapper" id="list_menu_hover">
            <li class="swiper-slide" style="margin: 0;">
                <a href="__DOC__/index.php/iwx-jewelrylist-cate-1266.html">
                    项链/吊坠
                </a>
            </li>
            <li class="swiper-slide">
                <a href="__DOC__/index.php/iwx-jewelrylist-cate-1264.html">
                    戒指
                </a>
            </li>
            <li class="swiper-slide">
                <a href="__DOC__/index.php/iwx-jewelrylist-cate-1265.html">
                    耳钉/耳环
                </a>
            </li>
            <li class="swiper-slide">
                <a href="__DOC__/index.php/iwx-jewelrylist-cate-1267.html">
                    手镯/手链
                </a>
            </li>
            <li class="swiper-slide">
                <a href="__DOC__/index.php/iwx-jewelrylist-cate-1269.html">
                    胸针/徽章
                </a>
            </li>
            <li class="swiper-slide">
                <a href="__DOC__/index.php/iwx-jewelrylist-cate-1268.html">
                    袖扣
                </a>
            </li>
        </ul>
    </div>
    <div class="app_rightbtn fr">
        <img src="__MICKYMOBILESTATIC__/new/images/list/1.png" alt="">
    </div>
</div>
<style>
    li.swiper-slide{
        width: auto !important;
        float: left !important;
    }
    .list_menu_hover{
        color: #a9784d;
    }
</style>
<script language="javascript">
    var mySwiper = new Swiper('.swiper-container', {
        slidesPerView : 'auto',
        nextButton:'.app_rightbtn'
    });
</script>