<div class="up-text">
    <div class="container-fluid">
        <div class="row">
            <!--聚焦Ignite-->
            <div class="col-xs-3">
                <a href="__DOC__/index.php/help-iwxbrandstory">
                    <div class="icon">
                        <img src="__MICKYMOBILESTATIC__/images/footer/up-logo.png" alt="">
                    </div>
                    <div class="icon-text">
                        关于伊格纳
                    </div>
                </a>

            </div>
            <div class="col-xs-3">
                <a href="__DOC__/index.php/help-iwxshopguide">
                    <div class="icon">
                        <img src="__MICKYMOBILESTATIC__/images/footer/up-gwc.png" alt="">
                    </div>
                    <div class="icon-text">
                        购物指南
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="__DOC__/index.php/help-iwxafterservice">
                    <div class="icon">
                        <img src="__MICKYMOBILESTATIC__/images/footer/up-kefu.png" alt="">
                    </div>
                    <div class="icon-text">
                        售后服务
                    </div>
                </a>
            </div>
            <div class="col-xs-3">
                <a href="__DOC__/index.php/help-iwxsupport">
                    <div class="icon">
                        <img src="__MICKYMOBILESTATIC__/images/footer/up-help.png" alt="">
                    </div>
                    <div class="icon-text">
                        帮助支持
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>