<!-- 底部 start-->
<div class="footer-top">
    <div class="footer-topCenter">
        <ul>
            <li>
                <img src="__PUBLIC__/images/footT1.png" alt=""/>
            </li>
            <li>
                <img src="__PUBLIC__/images/footT2.png" alt=""/>
            </li>
            <li>
                <img src="__PUBLIC__/images/footT3.png" alt=""/>
            </li>
            <li>
                <img src="__PUBLIC__/images/footT4.png" alt=""/>
            </li>
            <li>
                <img src="__PUBLIC__/images/footT5.png" alt=""/>
            </li>
        </ul>
    </div>
</div>
<div class="footer" style="border:none;">
    <div class="footerCenter">
        <!-- 左 -->
        <div class="footerTopLeft fl">
            <img src="__PUBLIC__/images/footerLogo.png" alt=""/>
        </div>
        <!-- 右 -->
        <div class="footerTopRight fr">
            <div class="footerTopRight_L fl" style="font-size: 12px;font-weight: normal;">
                <dl>
                    <dt>聚焦IGNITE</dt>
                    <dd><a href="__APP__/help-brandstory">品牌故事</a></dd>
                    <dd><a href="__APP__/help-jewelrymade">定制首饰</a></dd>
                    <dd><a href="__APP__/help-craft">制作工艺</a></dd>
                </dl>
                <dl>
                    <dt>购物指南</dt>
                    <dd><a href="__APP__/help-shopflow">购物流程</a></dd>
                    <dd><a href="__APP__/help-payonline">在线支付</a></dd>
                    <dd><a href="__APP__/help-express">配送说明</a></dd>
                </dl>
                <dl>
                    <dt>售后服务</dt>
                    <dd><a href="__APP__/help-tuihuo">7天退换货</a></dd>
                    <dd><a href="__APP__/help-weixiu">首饰维修</a></dd>
                </dl>
                <dl>
                    <dt>帮助支持</dt>
                    <dd><a href="__APP__/help-celiangzw">简易测量指圈</a></dd>
                    <dd><a href="__APP__/help-celiangsw">简易测量手围</a></dd>
                    <dd><a href="__APP__/help-celiangll">简易测量链长</a></dd>
                    <dd><a href="__APP__/help-shipinbaoyang">首饰保养</a></dd>
                    <dd><a href="__APP__/help-contactus">联系客服</a></dd>
                </dl>
            </div>
            <div class="footerTopRight_r fl">
                <div style="height: 87px;">
                    <img src="__PUBLIC__/images/erweima.jpg" alt=""/>
                </div>

                <!-- 微信 -->
                <div style="width: 100%;margin-top: 8px">
                    <div id="weibo" style="margin-left: 20px">
                        <img src="__PUBLIC__/images/weibo.png" alt=""/>
                    </div>
                    <div id="weixin" style="margin-left: 8px">
                        <img src="__PUBLIC__/images/weixin.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 下 -->
<div class="footerBottom">
    <div class="footerCenter">
        <div class="footerBottomLeft fl">
            Copyright 2016 ignjewelry.com· 隐私政策·服务条款·版权申明
        </div>
        <div class="footerBottomRight fr">
            <img src="__PUBLIC__/images/footer.png" alt=""/>
            <span>沪ICP备16027050号-1</span>
        </div>
    </div>
</div>
<!-- 底部 end-->
<div style="display:none;">
    <!--cnzz站长统计-->
    <script src="https://s11.cnzz.com/z_stat.php?id=1259998621&web_id=1259998621" language="JavaScript"></script>
</div>
</body>
</html>
<script>
    $(function(){
        // 微信 微博效果
        $("#weixin").hover(function () {
            $(this).find("img").attr("src","__PUBLIC__/images/weixin_hover.png");
        },function(){
            $(this).find("img").attr("src","__PUBLIC__/images/weixin.png");
        })
        $("#weibo").hover(function () {
            $(this).find("img").attr("src","__PUBLIC__/images/weibo_hover.png");
        },function(){
            $(this).find("img").attr("src","__PUBLIC__/images/weibo.png");
        })
    })

</script>