<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><{$TDK.tdk_title}></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="<{$TDK.tdk_keywords}>">
    <meta name="description" content="<{$TDK.tdk_description}>">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=1200,initial-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">


    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/jsSlide.js"></script>
    <script src="__PUBLIC__/js/listProduct.js"></script>

