@charset "utf-8";
/* 
	Project Kana ~ Core CSS. / (C)2013 Erinago / (C)2010-2013 Nagomi Mind
	Rev. 1.0.0 PRV / Last Update: March 8, 2013
	
	For Program 3D City Prototype used only!
*/
body { font-size: 12px; background: #eee; font-family: Verdana, Arial, SimSun, \5b8b\4f53, Helvetica, sans-serif; color: #757372; }
a { color: #333; text-decoration: none; }
a:hover { color: #B91525; text-decoration: none; }

/* global */
h1, h2, h3, h4, h5, h6 { white-space: nowrap; text-overflow: ellipsis; overflow: hidden; line-height: normal; }
h2 { line-height: 20px; height: 30px; font-family: SimHei; font-size: 20px; padding-bottom: 10px; text-shadow: 0px 1px 0 #FFF; }
.index .more { float: right; font-size: 12px; font-family: Verdana, Arial, SimSun, \5b8b\4f53; text-shadow: none;line-height: 25px; }
html .index .more.red-btn { padding: 5px 20px; font-weight: normal; margin-left: 20px; line-height: 16px;}

.masker {position:fixed; background:url(../images/comm/transparent.png); width:100%; height:100%; z-index:90; display:none;}
/* shadows */
.shadowed { box-shadow: 0 0 4px #E0E0E0; -webkit-box-shadow: 0 0 4px #E0E0E0; -moz-box-shadow: 0 0 4px #E0E0E0; behavior: url(../images/iefix/pie.htc); }
.shadowed-dark { box-shadow: 0 0 5px #000; -webkit-box-shadow: 0 0 5px #000; -moz-box-shadow: 0 0 5px #000; behavior: url(../images/iefix/pie.htc); }
.d4-border {border:1px solid #d4d4d4;}
.radius { border-radius: 4px; -khtml-border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; behavior: url(../images/iefix/pie.htc); }

/* page layouts */
.container { width: 960px; margin: 0 auto }


.container.homepage {  }
.header { background: #232323; height: 80px;  }
.navigation { height: 40px; color: #FFF; border-top: 1px solid #383838; border-bottom: 1px solid #444; background: #333 }
.main {  }
.main-sub { padding: 20px 0; margin: 40px 0 0 0; }
.main-sub.nowarp { margin-top: 0px; }
.main-sub.last { border-bottom: none; }
.main-sub.homesearch { border-top: 3px solid #DFDDD9;  border-bottom: 3px solid #DFDDD9;}
.highlight { background: #FFF; border-top: 1px solid #DFDDD9; border-bottom: 1px solid #DFDDD9 }
.footer { background: #333; border-top: 1px solid #444; -moz-box-shadow: 0px 1px 0px #DFDDD9; -webkit-box-shadow: 0px 1px 1px #DFDDD9; box-shadow: 0px 1px 1px #DFDDD9 }
.copyright { background: #232323; border-top: 1px solid #1A1A1A; height: 45px; color: #999; line-height: 45px; clear: both; }
/* - column */
.column-two, .column-three { clear: both }
.column-two .columns { width: 50% }
.column-three .columns { width: 33.3% }

/* - navigation */
.mlogo { float: left; padding: 22px 10px 0 0 }
.channels { float: right; margin-top: 22px; }
.channels li { float: left; }
.channels li a { display:block; padding: 0 16px; height: 35px; text-align: center; margin-left: 5px; line-height: 35px; font-size: 16px; color: #FFF; border-radius: 5px; font-family: "Microsoft Yahei"}
.channels li a:hover { background: #333; color: #FFF; }

.globalsearch { float: right; margin-top: 22px; background: #383838; padding: 4px; border-radius: 5px; } 
.globalsearch .gsinput { line-height: 28px; height: 28px; width: 300px; padding: 0 20px; border: 1px solid #555; background: #444; color: #CCC; font-size: 14px; margin: 0; float: left; border-right: none; border-radius: 3px 0 0 3px;}
.globalsearch .gsinput:hover { background: #555; border-color: #777 } 
.globalsearch .gsinput:focus { background: #FEFEFE; color: #333; border-color: #CCC }
.globalsearch button { margin: 0; height: 30px; float: right; border:1px solid #CCC; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	border:1px solid #dcdcdc;
	color:#777777;
	font-size:15px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
	border-radius: 0 3px 3px 0;
	text-shadow:1px 1px 0px #ffffff;
	cursor: pointer;
}
.globalsearch button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
.globalsearch button:active {
	position:relative;
	top:1px;
}
.navigation ul { height: 40px; padding: 0 10px; line-height: 40px }
.navigation ul li { float: left; font-size: 12px; font-weight: normal; }
.navigation ul li a.ll { color: #FFF }
.navigation ul li a { display: inline-block; height: 30px; padding: 0 10px; color: #B4B4B4 }
html .navigation ul.menu { padding-left: 0px; }
html .navigation ul.menu li {  font-size: 14px; }
html .navigation ul.menu li a { padding: 0 21px; height: 40px;  }
.navigation ul.menu li.st { border-right: 1px solid #313131; border-left: 1px solid #313131; }
.navigation ul.menu li.st a{ font-weight: bold; color: #FFF; background: #383838; }
html .navigation ul.menu:first-child { padding-left: 0px;}
.navigation ul.menu li:hover {  background-color: #222; margin-top: -1px; height: 41px; line-height: 41px;  }
.navigation ul.menu li a:hover {color: #FFF; border-right: 1px solid #383838; padding-right: 20px; }
.navigation .vh { border-left: 1px solid #3F3F3F }
.navigation .vh ul { border-left: 1px solid #2D2D2D }
.navigation .shopcart { display: block; background-color:#B91525; background-image:-webkit-gradient(linear,0% 0%, 0% 100%, from(#B91525), to(#B91525)); border:1px solid #CE1729; /* margin: -3px inherit inherit -1px;*/ width: 40px; height: 38px; }
.navigation .shopcart a { padding: 0px; width: 40px; height: 40px; display: inline-block; text-indent: -5000px; background: url(../images/comm/icon/icon-g2-shopcart.png) center center no-repeat }
.navigation .search { position: relative; height: 50px; padding: 0 5px; padding: 10px 15px 0 0; text-align: right }
.navigation .search button { position: absolute; display: none; top: 13px; right: 10px; width: 26px; height: 26px }
.navigation .search input { width: 110px; height: 18px; padding: 6px 5px 6px 40px; color: #EEE; font-size: 12px; border: none; background: #555 url(../images/comm/nav-search-bg.png) 10px center no-repeat; line-height: 18px; border-radius: 2px; -khtml-border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; cursor: pointer; }
.navigation .search input:focus {  }
.navigation .search input:hover { background-color: #686868 }

/* - breadcrumbs */
.breadcrumbs { height: 12px; padding: 20px 5px; color: #535353; font-size: 12px }
.breadcrumbs a.home { margin-left: 2px; background: url(../images/comm/home.png) 0px center no-repeat; padding-left: 30px }
.breadcrumbs a { display: inline-block; margin: 0 .8em; color: #535353 }
.breadcrumbs a:hover { color: #333 }

.ocbslideshow { position: relative; }
.ocbslideshow ul li { float: left; width: 300px; height: 380px; background: #FFF; border: 1px solid #D4D4D4; box-shadow: 0 0 4px #E0E0E0; }
.ocbslideshow ul li .thumb { display: block; width: 300px; height: 260px; background: #EEE; overflow: hidden; }
.ocbslideshow ul li .thumb img { width: 300px; height: 260px }
.ocbslideshow ul li h3 { height: 24px; padding: 15px 15px 5px; font-size: 16px; line-height: 20px }
.ocbslideshow ul li i { display: block; height: 50px; padding: 5px 15px; color: #999; font-size: 12px; line-height: 150%; }
.ocbslideshow .counter { height: 15px; border-top: 1px solid #CCC; background: #F0F0F0; box-shadow: 1px 1px 1px #F9F9F9 inset;}
.ocbslideshow ul li:hover { border: 1px solid #74C2E8; box-shadow: 0 0 6px #AAA; }
.ocbslideshow ul li:hover .thumb img { width: 340px; height: 280px; margin-left: -20px; margin-top: -15px; }

.ocbslideshow .domore { margin-top: 20px; width: 300px; height: 132px; background: #FFF; border: 1px solid #D4D4D4; box-shadow: 0 0 4px #E0E0E0; background: url(../images/_fortestonly_/ad/material_sample_kits.jpg) no-repeat right -37px;}
.ocbslideshow .domore h3 { font-size: 16px; margin: 65px 0 0 15px; font-family: "Microsoft Yahei" }
.ocbslideshow .domore h4 { font-size: 22px; margin: 0 25px 0 15px; font-family: "Microsoft Yahei" }
.ocbslideshow .domore h4 a { float: right; font-size: 12px; padding-top: 13px; }

.designer {width:958px; height:170px; margin:30px auto; border:1px solid #ddd; background:#fff;}
.designer .designer-img {width:180px; height:170px; overflow:hidden; float:left;}
.designer .content {position:relative; width:738px; height:130px; float:right; padding:20px; background:url(../images/designer/bg.jpg) 40px 10px no-repeat;}
.designer .content .designer-name { font-size:25px; font-weight:600; color:#333; position:absolute; top:35px; left:40px; font-family: "Microsoft Yahei";}
.designer .content .designer-dialogue {position:absolute; top:40px; left:310px;}
.designer .content .shop-info {font-size:12px; color:#999; position:absolute; top:100px; left:40px;}
.designer .content .motto {font-size:14px; font-weight:600; position:absolute; top:130px; left:40px;}

/* - itemlist */
.items-grid li { float: left; width: 200px; height: 256px; margin-right: 17px; margin-bottom: 20px; background: #FFF; border: 1px solid #D4D4D4; box-shadow: 0 0 4px #E0E0E0; }
html .items-grid li.last { margin-right: 0px; }
.items-grid li .thumb { display: block; width: 200px; height: 150px; background: #EEE; overflow: hidden; }
.items-grid li .thumb img { width: 200px; height: 150px }
.items-grid li h3 { height: 20px; padding: 10px 15px 5px; font-size: 14px; line-height: 20px }
.items-grid li i { display: block; height: 25px; padding: 5px 15px; color: #999 }
.items-grid li i a { color: #999 }
.items-grid li i a:hover { color: #AAA }
.items-grid li .etc { height: 35px; border-top: 1px solid #CCC; background: #F0F0F0; box-shadow: 1px 1px 1px #F9F9F9 inset; }
.items-grid li .etc .costs { float: right; width: 100px; height: 35px; color: #444; border-left: 1px solid #CCC; font-size: 14px; font-weight: bold; text-align: center; background: #F4F4F4; box-shadow: 1px 1px 1px #F9F9F9 inset; line-height: 35px; font-family: Arial, Helvetica, sans-serif; }
.items-grid li .etc .costs em { color: #AAA; font-size: 12px; font-weight: normal; font-style: normal }
.items-grid li:hover { border: 1px solid #74C2E8; box-shadow: 0 0 6px #AAA; }
.items-grid li:hover .thumb img { width: 240px; height: 180px; margin-left: -20px; margin-top: -15px; }

.items-grid-nd .listitem { float: left; width: 130px; height: 186px; margin: 0 15px 20px 0; background: #FFF; border: 1px solid #D4D4D4; box-shadow: 0 0 4px #E0E0E0; }
.items-grid-nd .listitem .thumb { display: block; width: 120px; height: 120px; margin: 5px; background: #EEE; overflow: hidden; }
.items-grid-nd .listitem .thumb img { width: 120px; height: 120px; }
.items-grid-nd .listitem h3 { height: 20px; padding: 0px 10px 5px; font-size: 12px; line-height: 20px }
.items-grid-nd .listitem .etc { height: 30px; border-top: 1px solid #CCC; background: #F0F0F0; box-shadow: 1px 1px 1px #F9F9F9 inset; }
.items-grid-nd .listitem .etc2 { height: 30px; border-top: 1px solid #CCC; background: #F0F0F0; box-shadow: 1px 1px 1px #F9F9F9 inset; overflow: hidden; padding: 0 10px; display: none; }
.items-grid-nd .listitem .etc span { line-height: 28px; padding-left: 10px; }
.items-grid-nd .listitem .etc2 span { line-height: 28px; padding-right: 6px; }
.items-grid-nd .listitem .etc .costs { float: right; width: 70px; height: 30px; color: #444; border-left: 1px solid #CCC; font-size: 12px; font-weight: bold; text-align: center; background: #F4F4F4; box-shadow: 1px 1px 1px #F9F9F9 inset; line-height: 30px; font-family: Arial, Helvetica, sans-serif; }
.items-grid-nd .listitem:hover { border: 1px solid #74C2E8; box-shadow: 0 0 6px #AAA; }
.items-grid-nd .listitem:hover .thumb img { width: 130px; height: 130px; margin-left: -5px; margin-top: -5px; }
.items-grid-nd .listitem:hover .etc { display: none; }
html .items-grid-nd .listitem:hover .etc2 { display: block; }


.cate-grid .listitem { float: left; width: 170px; height: 150px; margin: 0 25px 25px 0; background: #FFF; border: 1px solid #D4D4D4; box-shadow: 0 0 4px #E0E0E0; }
.cate-grid .listitem.last { margin-right: 0; }
.cate-grid .listitem .thumb { display: block; width: 170px; height: 120px; background: #EEE; overflow: hidden; }
.cate-grid .listitem .thumb img { width: 170px; height: 120px; }
.cate-grid .listitem h3 { height: 20px; padding: 5px 10px 0; font-size: 14px; line-height: 20px }
.cate-grid .listitem:hover { border: 1px solid #6F9EB5; box-shadow: 0 0 8px #999; }
.cate-grid .listitem:hover .thumb img { width: 192px; height: 144px; margin-left: -16px; margin-top: -12px; }


/* - author-grid */
.author-grid .listitem { float: left; width: 240px; height: 80px; margin: 0 15px 25px 0; background: #FFF; border: 1px solid #D4D4D4; box-shadow: 0 0 4px #E0E0E0; }
.author-grid .listitem:hover { border: 1px solid #FFA88A; box-shadow: 0 0 8px #CCC; }
.author-grid .listitem .thumb { float: left; display: block; width: 60px; height: 60px; margin: 10px; background: #EEE }
.author-grid .listitem .thumb img { width: 100%; height: 60px }
.author-grid .listitem h3 { height: 20px; padding: 15px 5px 0 0; font-size: 14px; line-height: 20px }
.author-grid .listitem i { display: block; padding: 10px 5px; color: #CCC; font-family: Arial, Helvetica, sans-serif; }
.author-grid .listitem i a { color: #CCC }

/* - footer */
.footer a { color: #B4B4B4; font-size:12px; }
.footer a:hover { text-decoration: underline }
.footer li { float: left; width: 14%; height: 160px; padding: 30px 15px 20px 0; background: url(../images/nyan/common/etc_column.jpg) 87% 10px no-repeat }
.footer li .new { width: 100px; padding-left: 6px; color: #F00; font-weight: bold; font-size: 10px }
.footer li dt { display: block; padding-bottom: 10px; color: #FFF; font-size: 14px; }
.footer li dd { line-height: 185% }
.footer li.followus { width: 10%; background: none }
.footer li.followus dd { float: left; clear: both }
.footer li.followus dd img { padding: 3px 0 }
.copyright a { color: #FFF; padding-left: 8px }
.copyright a:hover { color: #FFF }

/* icons */
.icon {  }
.icon.cart {  }

/* star-rating */
.star-rating { }

/* nya */
.ad-index { width: 960px; height: 120px; background: #666; margin-top: 10px; }

/* index - slideshow */
.sitetopic { margin:0 auto; background:#fff; height: 400px;}
.sitetopic .slide-show { width:100%; height: 400px; float:left; position:relative; z-index:1;  border-bottom: 1px #CCC solid; }
.sitetopic .discription { width:258px; float:right; height:320px;}

.sitetopic .slide-show .content { position:relative; }
.sitetopic .slide-show .content ul li { float:left; position:absolute; left:0; top:0; width: 100%; height: 400px; background-position: center center; background-repeat: no-repeat; }
.sitetopic .slide-show .content ul li img { }
.sitetopic .slide-show .content { height:400px; width:100%;  }
.sitetopic .slide-show .content .short-dis { width: 900px; margin: 296px  auto; padding: 25px 30px; background-image: url(../images/blank.png)  } 
.sitetopic .slide-show .content .short-dis .title { color: #fff; font-weight:600; padding-bottom:10px; font-size: 24px;} 
.sitetopic .slide-show .content .short-dis .description {color:#eee; font-size:14px; font-weight: bold;}
.sitetopic .slide-show .content .short-dis p {line-height:22px;}
.sitetopic .slide-show .page-num { position: absolute; left: 50%; top: 415px; z-index: 2; margin-left: -47px;}
.sitetopic .slide-show .page-num .num { float: left; width:8px; cursor:pointer; font-weight:600; background:#333; color:#fff; height:8px; line-height:25px; text-align:center; margin-bottom:10px; border-radius: 100%; margin-left: 10px;}
.sitetopic .slide-show .page-num .select {background:#B91525;}
.sitetopic .slide-show .page-num .num:hover {background:#666;}
.sitetopic .discription { display: none; }
.sitetopic .discription .statistics { padding-left:10px; margin:20px; }
.sitetopic .discription .title { font-size:18px; font-weight:600; color:#333; font-family: "Microsoft Yahei";}
.sitetopic .discription .description { font-size:12px; margin-top:20px; line-height:22px; color:#;}
.sitetopic .discription .join-it {}
.sitetopic .discription .join-it .join-top { width:172px; height:31px; background:url(../images/bg01.jpg) 0 6px no-repeat; text-align:center; font-size:12px; font-weight:600; margin-top:25px; margin-left:40px;}
.sitetopic .discription .join-it .join-bottom {background:#B91525; width:257px; height:65px; padding-top:25px; text-align:center;}
.sitetopic .discription .join-it .join-bottom .white-btn {color:#333; padding:10px 60px; font-size:16px; font-weight:600;}


.index .homesearch { }
.index .homesearch .inputctl { width: 700px; height: 38px; margin: 10px 30px }
.index .homesearch .inputctl button { float: left; width: 80px; height: 38px; padding: 0; font-size: 14px; border: 1px solid #BEBEBE; border-radius: 0 4px 4px 0; background: #F8F8F8; }
.index .homesearch .inputctl button:hover { box-shadow: inset 0 1px 0 white,0 0 8px rgba(255, 142, 0, 0.6); border: 1px solid #FF9566; }
.index .homesearch .inputctl button span { display: block; width: 78px; height: 36px; color: #777; font-weight: bold; text-align: center; background: #F8F8F8; box-shadow: inset 0 1px 1px #FFF; line-height: 36px; cursor: pointer; }
.index .homesearch .inputctl input { float: left; width: 530px; height: 36px; padding: 0 20px; color: #666; font-size: 16px; border: 1px solid #bbb; border-right: none;line-height: 36px; border-radius: 4px 0 0 4px; box-shadow: 0 0 4px #E0E0E0 inset; text-shadow: 0px 1px 0 #CCC; }
.index .homesearch .inputctl input:focus { box-shadow: inset 0 1px 0 white,0 0 8px rgba(255, 142, 0, 0.6) }
.index .homesearch .inputctl .slideshow-search {background:url(../images/index/transparent.png);}
.index .homesearch .sharework { float: right; padding-right: 30px; }

.index .featured { margin: 30px 0 0 0; }
.index .featured.prod { margin-top: 0; width: 640px; padding-bottom: 15px;}
.index .featured.prod h2 { }

.index .featured.artist { width: 240px; height: 500px }
.index .featured.artist ul { border-top: 2px solid #DDD }
.index .featured.artist li { float: left; width: 240px; height: 80px; margin-right: 15px; border-bottom: 2px solid #DDD; overflow: hidden }
.index .featured.artist li .thumb { display: block; float: left; width: 60px; height: 60px; margin: 10px; background: #CCC }
.index .featured.artist li .thumb img { width: 100%; height: 60px }
.index .featured.artist li .rank { float: right; margin-top: 15px; padding-right: 5px; color: #BBB; font-size: 90px; font-family: "Courier New", Courier, monospace }
.index .featured.artist li:hover { border-bottom: 2px solid #CCC }
.index .featured.artist li:hover .thumb { box-shadow: 0px 0px 5px #CCC }
.index .featured.artist li:hover .rank { margin-top: 12px; color: #990033 }
.index .featured.artist li:hover h3 a, .index .featured.artist li:hover i { color: #990033 }
.index .featured.artist li h3 { height: 20px; padding: 15px 5px 0 0; font-size: 14px; line-height: 20px }
.index .featured.artist li i { display: block; padding: 10px 5px; color: #666; font-family: Arial, Helvetica, sans-serif }
.index .featured.cate { width: 960px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }
.index .article { padding: 20px 0; height: 220px; }
.index .article h1 { line-height: 20px; height: 30px; font-size: 38px; padding: 15px 0 35px; text-shadow: 0px 1px 0 #FFF; text-align: center; color:#333; }
.index .article h3 { line-height: 20px; font-size: 16px; font-weight: bold; text-shadow: 0px 1px 0 #DDD; }
.index .article p { padding: 10px 0; font-size: 14px; height: 70px; }
.index .article .columns { height: 80px; float: left; text-align: left; width: 280px; padding: 0 20px; }


/* 
	third-party plugin styles
	jScrollPane 2.0.0 beta11 / https://github.com/vitch/jScrollPane
*/
.jspContainer { position: relative; overflow: hidden; }
.jspPane { position: absolute }
.jspVerticalBar { width: 10px; top: 0; right: 0; position: absolute; height: 100%; }
.jspVerticalBar .jspArrow { height: 10px }
.jspVerticalBar .jspArrow:focus { outline: none }
.jspHorizontalBar { width: 100%; position: absolute; left: 0; height: 10px; bottom: 0; }
.jspHorizontalBar .jspArrow { width: 10px; height: 100%; float: left; }
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { height: 100%; float: left; }
.jspHorizontalBar .jspCap { float: left }
.jspVerticalBar *, .jspHorizontalBar * { padding: 0; margin: 0; }
.jspCap { display: none }
.jspTrack { position: relative; background: #E6E6E6; }
.jspDrag { top: 0; position: relative; left: 0; cursor: pointer; background: #777; }
.jspArrow { text-indent: -20000px; display: block; cursor: pointer; background: #50506D; }
.jspArrow.jspDisabled { cursor: default; background: #80808D; }
.jspCorner { height: 100%; float: left; background: #EEEEF4; }



















input[type="text"], input[type="password"], textarea { box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px; background: -webkit-gradient(linear, left top, left 35, from(white), color-stop(4%, #EEE), to(white)); border: 1px solid #DFDDD9; padding: 0 10px; }
input:hover, input[type="password"]:hover, textarea:hover { border: 1px solid #999; }
select { box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 3px; height: 26px; height: 26px;border: 1px solid #DFDDD9; box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px; padding-left: 3px; -webkit-appearance: menulist }

.upanel { margin: 40px auto; background: #FFF; border: 1px solid #D4D4D4; box-shadow: 0px 0px 1px #E5E5E5; }
.upanel h2 { padding: 30px 30px 20px; font-size: 20px; font-family: "Microsoft Yahei"; }
.upanel h2 i { float: right; font-size: 12px }
.upanel h3 { padding: 10px 0; font-size: 14px; font-weight: bold }
.upanel h3 b { font-size: 12px; color: #B00;}
.upanel .content { padding: 0 30px 30px; line-height: 200%;} 
.uploads .tr { margin: 20px 0; } 

.uploads .prdname { height: 40px; width: 540px; padding: 0 10px; font-size: 14px; color: #666; }

.categories select { width: 160px; margin-bottom: 10px; }

.uploads .slidelist { width: 562px;  }
.uploads .slidelist ul { height: 460px; width: 550px; margin-top: 25px; border: 1px solid #CCC; padding: 5px; overflow-y: scroll; }
.uploads .slidelist ul li { margin-top: 5px; padding: 5px 10px 10px; border-bottom: 1px solid #CCC; border-right: 1px solid #CCC; height: 100px; float: left; width: 240px; margin-right: 5px; position: relative; }
.uploads .slidelist ul li:hover { background: #F9F9F9; }
.uploads .slidelist ul li img { width: 100px; height: 100px; background: #CCC; float: left; box-shadow: 0px 0px 3px #EEE; cursor: move }
.uploads .slidelist ul li .imgconfig { float: left; padding-left: 10px; }
.uploads .slidelist ul li .imgconfig input[type="text"] { width: 95px; height: 30px; margin-top: 5px; color: #CCC; }
.uploads .slidelist ul li .imgconfig input[type="radio"] { display: block; color: #333; margin-top: 10px; -webkit-appearance: radio; }
.uploads .slidelist ul li button { position: absolute; bottom: 15px; right: 15px; width: 20px; height: 20px; line-height: 20px; text-align: center; padding: 0; border: none; background: #F3F3F3; color: #CCC; border-radius: 4px; cursor: pointer }
.uploads .slidelist ul li button:hover { background: #FC786B; color: #C95A4F; }
.uploads .slidelist .slidecon { margin: 10px 0; } 
html .button.small { height: 28px; font-size: 12px; line-height: 27px; padding: 0 20px; border-radius: 3px; margin: 0; }
.uploads .slidelist .slidecon .tips { float: right; }
/*控件区*/
.uploads .categories select { display: block; width: 260px; height: 30px; padding-left: 10px; }
.uploads .description textarea { height: 100px; width: 500px; background: #FFF; padding: 10px; }
.uploads .tags textarea { height: 40px; width: 500px; background: #FFF; padding: 10px; font-size: 16px; }
 .controls { padding: 20px 20px; background: #FAFAFA; color: #FFF;  }
/*临时的*/
.upanel h3.r{ display: inline-block;  }
.upanel h3.r a { border: 1px solid #CCC; display: block; height: 150px; width: 300px; text-align: center; line-height: 150px; font-size: 16px;  background-color:#E5E5E5; border:1px solid #CCC; margin: -3px inherit inherit -1px; color: #333; margin: 5px 10px; font-weight: bold; }
.upanel h3.r a:hover { background: #999; color: #FFF; border: 1px solid #888;}
.dtrip { padding: 20px 30px; background: #666; color: #FFF; }

.tips { background: #FFFFE9; border: 1px solid #FAEBD2; display: inline-block; padding: 5px 15px; }
.tips.nobg { background: none; border: none; padding-left: 5px; }
.tips i { display: inline-block; padding-left: 5px; color: #666 }
.tips-icon { background: url(../images/comm/tips-small.png); display: inline-block; width: 16px; height: 16px; margin-top: 5px; float: left }
.tips-icon.info { background-position: 0px -60px; }
.tips-icon.error { background-position: 20px -40px; }
.tips-icon.good { background-position: 40px -20px; }
.tips-icon.question { background-position: 60px -0px; }


.rightbar {width: 310px; float: right;}

.modellic { background: #FFEEC8; padding: 5px 15px; border: 1px solid #FFE4A6; } 
.modellic .lichoose{  padding: 10px 0; }
.modellic .lichoose input { margin-top:  0px;}
.modellic .lichoose label { font-size: 14px; padding: 0 15px 0 5px; display: inline-block; font-weight: bold; }
.modellic p { line-height: 150%; font-size: 12px; padding: 10px 0;  border-top: 1px solid #FFE4A6 }

.etcfileds { border: 1px solid #CCC; margin-top: 25px; padding: 5px 15px; }
.etcfileds h3 { border-bottom: 1px solid #CCC; }
.etcfileds table { margin: 10px 0;  }
.etcfileds table th { width: 100px; }
.etcfileds table th b { color: #B00; float: right; padding-right: 5px; }
.etcfileds table th, .etcfileds table td { text-align: left; padding: 5px 0; height: 30px; line-height: 26px; vertical-align: middle; }
.etcfileds table tr:hover th { font-weight: bold; color: #999; }
.etcfileds select { width: 140px; }
.etcfileds input[type="text"] { width: 120px; height: 26px; }

.modelfiles { width: 100%; }
.modelfiles table { width: 100%; text-align: left; border-top: 1px solid #F6F6F6; border-bottom: 1px solid #EAEAEA;}
.modelfiles table td {  text-align: left; padding: 10px 5px; line-height: 175%; height: 40px; vertical-align: middle; }
.modelfiles table td:nth-child(1) { padding-left: 0; }
.modelfiles table td:nth-child(2) { width: 90px; }
.modelfiles table td:nth-child(3) { width: 160px; }
.modelfiles table td:nth-child(4) { width: 80px; }
.modelfiles table td:nth-child(5) {width: 130px;}
.modelfiles table td:last-child { width: 30px;}
.modelfiles table tr:first-child { border-bottom: 2px solid #EAEAEA; background: #F8F8F8 }
.modelfiles table tr:first-child td { height: 16px; }
.modelfiles table tr:first-child td:nth-child(1) { padding-left: 24px; }
.modelfiles table tr:hover { background: #FBFBFB }
.modelfiles .render, .modelfiles .render-version { display: block; color:#AAA; }